body {
    background-image: url("images/island.jpg");
    background-color: aqua;
    background-repeat: repeat-y;
}
body {
    background-image: url("images/island.jpg");
    background-color: aqua;
    background-repeat: repeat-y;
}
h1 {
    font-family: 'Gamja Flower', cursive;
    text-decoration: underline;
    margin-bottom: 5%;
}
.about {
    background-color: rgb(228, 228, 228);
    margin: 0% 20% 0% 20%;
    padding: 8% 2% 2% 2%;
    border-bottom: 1px solid gold;
}
.portfolio {
    background: mediumspringgreen;
    margin: 0% 20% 0% 20%;
    padding: 2% 2% 2% 2%;
}
.contact {
    background-color: rgb(228, 228, 228);
    margin: 0% 20% 0% 20%;
    padding: 2% 2% 2% 2%;
}
.img-circle {
    border: 3px solid gold;
    border-radius: 50%;
}